.clearfix{
	clear:both;
}

#header{
	display: block;
}
.adminNavi{
	display: block;
}

.adminNavi ul li{
	list-style: none;
	float: left;
	margin-right:1px;
	margin-left:10px;
	background-color: #FFF;
	color:#000;
	padding: 10px;
}

.adminNavi ul li a{
	color:#000 !important;
	text-decoration: underline;
}
